.remove-margin {
  margin: 0;
}

ul.dropdown-content.select-dropdown li span {
  color: #4DA778;
}

.routes-title,
.add-routes-title {
  font-size: 18px;
  margin-left: 6px;
}

.add-routes-title {
  margin-left: 12px;
}
