#index {
  background: #f2f2f2;
  color: #191919;
}

/******************************************************************************

MAIN NAVIGATION

*******************************************************************************/
nav {
  position: fixed;
  background: #191919;
  z-index: 100;
  top: 0;
}

.site-logo {
  color: #191919;
  font-size: 30px;
  margin-left: 9.25%;
  color: white;
}

span {
  color: #4DA778;
}

/******************************************************************************

BUTTONS

*******************************************************************************/

.action-button {
  color: white;
  background: #4DA778;
  border: none;
  height: 42px;
  width: 165px;
  text-transform: uppercase;
  letter-spacing: 1.75px;
  font-size: 14px;
  font-family: 'Didact Gothic', sans-serif;
}

.action-button:hover,
.action-button:focus {
  background: #4da762;
}

.trends-button,
.log-button {
  margin-left: 20px;
  background: transparent;
  border: 2px solid #4DA778;
  color: #4DA778;
}

.log-button {
  border: 2px solid white;
  width: 134px;
  position: fixed;
  right: 30px;
  color: white;
  padding-top: 8px;
  text-align: center;
}

.action-button:hover {
  transition: .8s ease all;
}

.log-button:hover {
  border: 2px solid #4DA778;
}

/******************************************************************************

INDEX.HTML

*******************************************************************************/


.app-description {
  color: #666;
}

.main-info {
  margin-top: 175px;
}

.welcome-header {
  font-size: 42px;
  color: #272727;
}

.slogan {
  font-size: 18px;
}

.key-explanation {
  font-size: 18px;
}

.trends-button:hover {
  background: #4DA778;
  color: white;
}

.copyright {
  margin-top: 20px;
}

/******************************************************************************

MEDIA QUERIES

*******************************************************************************/

@media (max-width: 485px) {
  .welcome-header {
    font-size: 36px;
  }

  .copyright {
    font-size: 12px;
  }
}
